{% extends "layout.html.twig" %}
{% block title %}
	error 404
{% endblock %}
{%
block content%}

<div class="m-5 p-5">
	<h4>Vous n'avez pas les droits pour accèder a cette page!</h4>
	<p>
		contactez l'adminitrateur du site au 0102030405
		<small>
			0.09€/min
		</small>
	</p>
</div>{% endblock content%}
